@import "./base.css";

:root {
    --primary: #ff9e00;
    --secondary: #0062ff;
    --white: #fff;
    --dark: #222222;
    --dark-ligth: #4e4e4e;
}

h1 {
    color: var(--white);
    font-weight: bold;
}

a,
.primary {
    text-decoration: none;
    color: var(--white);
    transition: 0.6s;
    padding: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--secondary);
    }
}

.active {
    background-color: var(--secondary);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 5rem;
    background-color: var(--primary);
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
}

.publication {
    display: flex;
    width: 100%;
    background-color: var(--dark-ligth);
    padding: 2rem;
    border-radius: 0.5rem;
}

.publication--item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.publication--item__description {
    height: 4rem;
    color: var(--white);
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 2rem;
}

.publication--item__img {
    width: 100%;
    object-fit: contain;
    border-radius: .5rem;
}

